<!-- Aquí COMIENZA el componente del HEADER -->
<div class="container">
  <div class="row">
    <div class="col mt-2">
      <app-navbar [seccionActiva]="seccionActiva" (alCambiarPantalla)="seccionActiva = $event"></app-navbar>
    </div>
  </div>
</div>
<!-- Aquí TERMINA el componente del HEADER -->
<div class="main-content py-4">
   <!-- Inicia un texto de muestra no es importante, pronto será borardo-->
  <div *ngIf="seccionActiva === 'home'" class="container">
    <div class="row">
      <div class="col mt-5">
        <p><i class="bi-emoji-smile"></i> ¡Bienvenido a tu espacio de trabajo!<br><br> Aquí iremos agregando todos los componentes de nuestra web.</p>
      </div>
    </div>
  </div>
 <!-- TERMINA EL texto de muestra no es importante, pronto será borardo-->
 <!-- Desde aquí COMIENZAN los componentes, estoy en el app.html -->
  <app-ficha-de-paciente *ngIf="seccionActiva === 'ficha'"></app-ficha-de-paciente>
  <app-ingreso-signos *ngIf="seccionActiva === 'signos'"></app-ingreso-signos>
  <!-- Aquí terminan los componentes -->
</div>

<!-- Aquí insertamos el componente del FOOTER -->
<div class="container">
  <div class="row">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </div>
</div>
