<!-- Utilizamos el sistema de rejillas de Bootstrap (container, row, col) para estructurar y alinear el contenido -->
<div class="container">
  <div class="row">
    <div class="col mt-2">
      
      <!-- Componente de navegación principal. Al estar fuera del router-outlet, se mantendrá visible de forma global en todas las vistas -->
      <app-navbar></app-navbar>
      
    </div>
  </div>
</div>

<!-- Directiva de enrutamiento principal de Angular. Funciona como un contenedor dinámico donde se cargarán y renderizarán los componentes según la ruta activa en la URL -->
<router-outlet></router-outlet>

<div class="container">
  <div class="row">
    <div class="col">
      <app-footer></app-footer>
    </div>
  </div>
</div>

<footer class="text-center text-lg-start mt-auto pt-4" style="background-color: #f8f9fa; border-top: 1px solid #e9ecef;">
  <div class="container p-4">
    <div class="row align-items-center">
    </div>
  </div>
</footer>
